p {
  font-family: Lato;
}

.links-like {
  list-style: none;
  display: flex;
  padding: 0;
}
.links-like li {
  margin: 1rem;
  cursor: pointer;
  color: blue;
}
.links-like li:hover {
  cursor: pointer;
  color: darkblue;
}
