<header>
  <ul class="links-like">
    <li (click)="setState()">Instructions</li>
    <li (click)="setState('code')">Code</li>
  </ul>
</header>
<div class="card">
  <ng-container [ngSwitch]="navState">
    <mytable *ngSwitchCase="'code'"></mytable>
    <div *ngSwitchDefault>
      <h1>Buhler Front-end Assessment</h1>
      <p>
        Thanks for considering joining us here's a small test to see your
        skills. Please don't use any component libaries directly however feel
        free to take inspiration. (icon libs allowed)
      </p>
      <h2>Features to Implement</h2>
      <p>
        Table structure is important for displaying data; Here's a list of
        requestments but feel free to personalise it with CSS or anything you'd
        like to add. However the fllowing will be looked at.
      </p>
      <h4>Feature:</h4>
      <ul>
        <li>
          Global Search - User should be able to filter/search the table data
          relative to ANY match content. Properties (sorted) by StartWith.
        </li>
        <br />
        <li>
          Ascending/Descending Sort functionality on clicking of header cells.
        </li>
        <br />

        <li>
          Expanding/collapse functionality showing properties of Product item
          (see mock.data.json) [ code, description ].
        </li>
        <br />

        <li>
          Write a directive: That appends [inventoryStatus] into a button button/badge with showing status on Product
          (see mock.data.json) various colors.
        </li>
        <br />

        <li>
          <small>
            Bonus: Create a way of handling the data as if it's "live" randomly
            changing inventory status.
          </small>
        </li>
        <br />

        <li>
          <small>
            Extra Merit: Good styling/design + structure
          </small>
        </li>
      </ul>
    </div>
  </ng-container>
</div>