<div class="card">
  <h5>Buhler FE Assessment</h5>
  <form [formGroup]="headerForm">
    <input type="text" formControlName="code" placeholder="Code">
    <input type="text" formControlName="name" placeholder="name">
    <input type="text" formControlName="category" placeholder="category">
    <input type="text" formControlName="quantity" placeholder="quantity">
    <input type="text" formControlName="price" placeholder="price">
  </form>
  <table class="table table-sortable main-table" style="width:100%">
    <tr class="table-header">
      <th *ngFor="let column of recordColumn" (click)="sortBy(column)" [class.active]="sortedHeader === column"
        [class.collapsed]="collapseState[column]">
        {{column | titlecase}}
        <button 
          (click)="toggleCollapseState($event, column)"
          [title]="(collapseState[column] ? 'expand' : 'collapse') + ' ' + column + ' column'"
          class="button collapse-header">
          <span class="material-icons">{{collapseState[column] ? 'chevron_right' : 'chevron_left'}}</span>
        </button>
        <a
          class="header-sort-icon material-icons"
          role="button"
          [class.d-none]="sortedHeader !== column"
          >
          {{sortAsc ? 'arrow_downward' : 'arrow_upward'}}
        </a>
      </th>
    </tr>
    <!-- <tr>
      <th (click)="sortBy('code')"
        [class.active]="sortedHeader === 'code'"
        [class.collapsed]="collapseState['code']"
      >
        Code
        <button
          (click)="toggleCollapseState($event, 'code')"
          class="button collapse-header"
          ><span class="material-icons"
          >{{
            collapseState['code'] ? 'chevron_right' : 'chevron_left'
          }}</span></button>
        <a
          class="header-sort-icon material-icons"
          role="button"
          [class.d-none]="sortedHeader !== 'code'"
          >
          {{sortAsc ? 'arrow_downward' : 'arrow_upward'}}
        </a>
      </th>
      <th (click)="sortBy('name')"
          [class.active]="sortedHeader === 'name'"
          [class.collapsed]="collapseState['name']"
      >
        Name
        <button
          (click)="toggleCollapseState($event, 'name')"
          class="button collapse-header"
          ><span class="material-icons"
          >{{
            collapseState['name'] ? 'chevron_right' : 'chevron_left'
          }}</span></button>
        <a
          class="header-sort-icon material-icons"
          role="button"
          [class.d-none]="sortedHeader !== 'name'"
          >
          {{sortAsc ? 'arrow_downward' : 'arrow_upward'}}
        </a>
      </th>
      <th (click)="sortBy('category')"
      [class.active]="sortedHeader === 'category'"
      [class.collapsed]="collapseState['category']"
      >
        Category
        <button
          (click)="toggleCollapseState($event, 'category')"
          class="button collapse-header"
          ><span class="material-icons"
          >{{
            collapseState['category'] ? 'chevron_right' : 'chevron_left'
          }}</span></button>
        <a
          class="header-sort-icon material-icons"
          role="button"
          [class.d-none]="sortedHeader !== 'category'"
          >
          {{sortAsc ? 'arrow_downward' : 'arrow_upward'}}
        </a>
      </th>
      <th (click)="sortBy('quantity')"
          [class.active]="sortedHeader === 'quantity'"
          [class.collapsed]="collapseState['quantity']"
          >
        Quantity
        <button
          (click)="toggleCollapseState($event, 'quantity')"
          class="button collapse-header"
          ><span class="material-icons"
          >{{
            collapseState['quantity'] ? 'chevron_right' : 'chevron_left'
          }}</span></button>
        <a 
          class="header-sort-icon material-icons"
          role="button"
          [class.d-none]="sortedHeader !== 'quantity'"
          >
          {{sortAsc ? 'arrow_downward' : 'arrow_upward'}}
        </a>
      </th>
      <th (click)="sortBy('price')"
          [class.active]="sortedHeader === 'price'"
          [class.collapsed]="collapseState['price']"

          >
        Price
        <button
          (click)="toggleCollapseState($event, 'price')"
          class="button collapse-header"
          ><span class="material-icons"
          >{{
            collapseState['price'] ? 'chevron_right' : 'chevron_left'
          }}</span></button>
        <a 
          class="header-sort-icon material-icons"
          role="button"
          [class.d-none]="sortedHeader !== 'price'"
          >
          {{sortAsc ? 'arrow_downward' : 'arrow_upward'}}
        </a>
      </th>
    </tr> -->
    <tr *ngFor="let product of products$ | async" class="table-data-row">
      <td [badge]="product.inventoryStatus" [class.collapsed]="collapseState['code']">{{product.code}}</td>
      <td [class.collapsed]="collapseState['name']">{{product.name}}</td>
      <td [class.collapsed]="collapseState['category']">{{product.category}}</td>
      <td [class.collapsed]="collapseState['quantity']">{{product.quantity}}</td>
      <td [class.collapsed]="collapseState['price']">{{product.price | currency: 'USD'}}</td>
    </tr>
  </table>
</div>