/* Add application styles & imports to this file! */


/*************************
Variables
*************************/
:root{
  --primary: hsl(0, 100%, 37%);
  --primary-lighter: hsl(0, 100%, 50%);
  --primary-darker: hsl(0, 100%, 20%);
  
  --accent:  hsl(203, 100%, 47%);
  --accent-lighter:  hsl(203, 100%, 60%);
  --accent-darker:  hsl(203, 100%, 30%);  
}


/*************************
table styles
*************************/
.header-sort-icon{
  font-size: .8em;
}

th.active{
  background-color: var(--accent-darker);
}


.table th,
.table th :empty{
  user-select: none;
}

.table.table-sortable th{
  cursor: pointer;
}

.d-none{
  display: none;
}

.table th.collapsed,
.table td.collapsed{
  max-width: 2em;
  overflow: hidden;
}
.table td.collapsed
{
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
}

.table .table-header{
  background-color: var(--accent);
  color: white;
}

tr.table-data-row > td{
  padding: .3em 0;
}

tr.table-data-row:nth-child(odd){
  background-color: #2222;
}




.button.collapse-header,
.button.collapse-header > *{
  font-size: 1em;
  background-color: transparent;
  border: none;
}

/**********************
badge styles
***********************/
.badge-host{
  position: relative;
}
.badge{
  position: absolute;
  top: 0;
  right: 0;
  /* push this element 50% of its height upward */
  transform: translateY(-50%);
  border-radius: 10px;
  background-color: var(--primary-darker);
  border: 1px solid #eee;
  min-width: 1em;
  min-height: 1em;
  font-size: .5em;
  color: white;
  padding: .2em .4em;
}

/***********************
Button styles
***********************/
.button{
  font-size: .8em;
  color: var(--primary-darker);
  cursor: pointer;
  border-radius: 5px;
  transition: 150ms;
}

.button:hover{
  color:white;
  background: var(--primary);
}